a.github-button href="https://github.com/pempel/proudly" data-icon="octicon-star" data-style="mega" data-count-href="/pempel/proudly/stargazers" data-count-api="/repos/pempel/proudly#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star pempel/proudly on GitHub" Star
