.nav {
  margin-bottom: 30px;
}

.btn-toolbar {
  margin-bottom: 15px;
}

.btn-toolbar > .btn-group {
  margin-left: 0px;
  margin-right: 15px;
  margin-bottom: 15px;
}

a.disabled {
  color: #cccccc;
}

.dropdown-menu > li.disabled > a,
.dropdown-menu > li.disabled > a:hover {
  color: #cccccc;
}

.dropdown-menu > li.disabled > a:hover {
  cursor: default;
}
