h1 Team Page
a[href="/signin"] Merge with another account
a[href="/signout"] Sign out

p Current identity: #{current_identity.first_name} | #{current_identity.last_name} | #{current_identity.nickname}
